*,body {
	padding :0px;
	margin :0px;
}
.main-container {
	background-image: url(images/logo-4.png);
	background-repeat :no-repeat;
	width :1100px;
	background-size :cover;
	background-color :white;
}
.main-container .inner-container {
	width :900px;
	margin : 0 auto;
	margin-bottom :30px;
}
.main-container header {
	padding-top :30px;
	margin-bottom :60px;
	text-align :center;
}
.main-container header .heading {
	color :#ffffff;
}
.main-container header .menu {
	padding-top :20px;
}
.main-container header .menu ul {
	display: inline-block;
	background-color :grey; 
	width :100%;
	margin-bottom :80px;
}
.main-container header .menu ul li {
	margin-right :20px;
	list-style :none;
	display :inline-block;
	padding :10px;
}
.main-container header .menu ul li a {
	color :#ffffff;
	text-decoration :none;
}
.main-container header .menu ul li a:hover {
	color :#000000;
}
.main-container .inner-container .content .cont {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    color: white;
    margin-bottom :20px;
}
.main-container .inner-container .content .input-fields {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-gap :10px;
    margin-bottom :20px;
}
.main-container .inner-container .content .input-fields input {
	text-align :center;
}	
.main-container .inner-container .content .cont-3 {
	color :#ffffff;
}
.main-container footer {
	height: 50px;
    background: grey;
    color: white;
    text-align: center;
}
.main-container footer .footer {
	line-height :50px;
}




	